{% extends 'base.html.twig' %}

{% block title %}Hello Category!{% endblock %}

{% block body %}

<div class="container">
<div class="row">

<h1 class="text-center my-4">Ajouter une Category </h1>

{{ form_start(formCategory) }}

    {{ form_row(formCategory.titleCategoryArticle) }}

    <button type="submit" class="btn btn-warning mb-5">Ajouter</button>

{{ form_end(formCategory) }}


        <div>
        <a href="{{ path('viewArticle') }}"><button class="btn btn-warning">Retour</button></a>
        </div>


</div>
</div>



{% endblock %}