{% extends 'base.html.twig' %}

{% block title %}test{% endblock %}

{% block body %}

{# {{ dump(categoryArticles) }} #}
{% for article in articles %}
    <h3>{{ article.categoryArticle }}</h3>
    <div>{{ article.titleArticle }}</div>
    
        
{% endfor %}

{% endblock %}
