{% extends 'base_admin.html.twig' %}

{% block title %}
    {% if editMode %}
        DOCUMENTS | Modifier un document
    {% else %}
        DOCUMENTS | Ajouter un document
    {% endif %}
{% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4">
        {% if editMode %}
            Modifier votre document
        {% else %}
            Ajouter un document
        {% endif %}
    </h1>

    <div class="container">
        <div class="row">

            <h1 class="text-center my-4">Ajouter un document </h1>

            {{ form_start(formDocumentAdd) }}

            {# {{ form_row(formDocumentAdd.fileTitle) }} #}

            {% if editMode %}
                <input type="submit" class="button" value="Modifier votre document">
            {% else %}
                <input type="submit" class="button" value="Ajouter votre document">
            {% endif %}

            {{ form_end(formDocumentAdd) }}

        </div>
    </div>

{% endblock %}