{% extends 'base_admin.html.twig' %}

{% block title %}Mémos{% endblock %}



{% block body %}

<div class="col-4 mx-auto pt-5 text-center">

<h3 class="text-center title">
{% if editMode %}
    Modifier un mémo
{% else %}
    Ajouter un mémo
{% endif %}
</h3>

{{ form_start(formToDoList) }}

    {{ form_row(formToDoList.titleTask, {'label': 'Titre'}) }}

    {{ form_row(formToDoList.task, {'label': 'Contenu',
                                    'attr': {'rows':8}
    }) }}

    {# <button type="submit" class="btn btn-warning mb-5">Ajouter</button> #}

    <input type="submit" class="button" 
    {% if editMode %}
        value="Modifier"
    {% else %}
        value="Ajouter"
    {% endif %}
    >

{{ form_end(formToDoList) }}

</div>

{% endblock %}
